{% extends "blog/base.html" %}
{% block content %}
<style>
  #pagination-btn {
      display: inline-block;
      padding: 8px 16px;
      margin: 4px;
      border: 1px solid rgb(82, 0, 206); 
      border-radius: 4px;
      color: rgb(82, 0, 206); 
      text-decoration: none;
      transition: background-color 0.3s, color 0.3s;
  }

  #pagination-btn:hover {
      background: linear-gradient(to bottom right,rgb(0, 0, 0) ,rgb(82, 0, 206)); 
      color: white;
  }

  #pagination-btn:active {
    background: linear-gradient(to bottom right,rgb(82, 0, 206),rgb(0, 0, 0)); 
    color: white;
  }

</style>

    {% for post in posts %}
        <article class="media content-section" style="background: linear-gradient(to bottom right,rgb(255, 255, 255) ,rgb(231, 214, 255));">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" style="width: 100px; height: 100px; margin-right: 20px;">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2"  href="{% url 'user-posts' post.author.username %}" style=" color: rgb(51, 0, 128);">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1" id="pagination-btn">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}" id="pagination-btn">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}" id="pagination-btn">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}" id="pagination-btn">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}" id="pagination-btn">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}" id="pagination-btn">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}