
{% extends "blog/base.html" %}
{% block content %}
  <article class="media content-section" style="background: linear-gradient(to bottom right,rgb(255, 255, 255) ,rgb(231, 214, 255));">
    <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}" style="width: 100px; height: 100px; margin-right: 20px;">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' post.author.username %}" style=" color: rgb(51, 0, 128);">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        {% if object.author == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}" 
            style="background: linear-gradient(to bottom right,rgb(0, 0, 0) ,rgb(72, 0, 179));" >Update</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}"
            style="background: linear-gradient(to bottom right,rgb(0, 0, 0) ,rgb(179, 36, 0));">Delete</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.title }}</h2>
      <p class="article-content">{{ object.content }}</p>
    </div>
  </article>
{% endblock content %}
